@{
    ViewBag.Title = "Tarefas";
}

<div class="conteudo">
    <!-- Texto do Usuário, Action, Controller, Area (usada para autenticação), Classe -->
    @Html.ActionLink("Nova Tarefa", "NovaTarefa", "Home", null, new { @class = "btn btn-primary" })
</div>


