* {
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    background-color: #64a230;
    font-family: 'Century Gothic', Tahoma, Arial;
}

#pagina {
    width: 700px;
    max-width: 80%;
    margin: 20px auto;
}

.cabecalho {
    text-align: center;
    background-color: #cefd10;
    margin: 80px;
}

    .cabecalho h1 {
        color: #2e5069;
        padding: 10px;
    }

.conteudo {
    background-color: #fff;
    min-height: 200px;
    margin-top: 10px;
    border-radius: 10px;
    padding: 20px;
}

.nova-tarefa {    
    border-radius: 100px;
    background-color: #fff;
    display: inline-block;
    padding: 10px 20px;
    z-index: 3;
    position: fixed;
    bottom: 50px;
    right: 50px;
}

    .nova-tarefa a {
        font-size: 40px;
        color: #20ea11;
    }

    .nova-tarefa a:hover{
        color: #ff7500;
    }

.box-tarefa h5{
    font-size: 10px;
}

.gridView {
    margin-bottom: 20px;
    font-size: 90%;
    width: 100%;
}

    .gridView tr:hover {
        background-color: #dde6f3;
    }

    .gridView td {
        padding: 5px;
        border-color: #ccc;
    }
        .gridView td a {
            text-decoration: none;
        }

    .gridView th {
        padding: 5px;
        border-color: #ccc;
        color: #272944;
    }

.colConcluidaItem {
    text-align: center;
    width: 3%;
}

.colConcluidaHeader {
    width: 3%;
}

.colPrioridadeItem {
    text-align: center;
    width: 3%;
}

.colPrioridadeHeader {
    text-align: center;
    width: 3%;
}

.colTarefaItem {
    text-align: left;
}

.colTarefaHeader {
    text-align: left;
}

fieldset {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 10px;
}

    fieldset legend {
        padding: 5px;
    }

    fieldset .legenda, .fieldset .campo {
        display: block;
    }

    fieldset .legenda {
        cursor: pointer;
    }

    fieldset .campo {
        margin-bottom: 12px;
        width: 100%;
    }

    fieldset .obs {
        min-height: 200px;
    }

.larguraMax80 {
    max-width: 80px;
}

@media (max-width:400px) {
    #pagina {
        width: inherit;
        max-width: 100%;
        margin: 0px;
        border-radius: 0px;
        border: none;
    }

    .cabecalho {
        border-radius: 0px;
        margin: 0px;
    }

    .rodape {
        font-size: 80%;
        position: fixed;
        bottom: 0px;
        color: #ceeaff;
        width: 700px;
        border-top: 1px solid #ceeaff;
        opacity: 0.5;
    }

        .rodape p {
            padding: 10px 0px 10px 0px;
            text-align: left;
        }

    /* Set padding to keep content from hitting the edges */
    .body-content {
        padding-left: 15px;
        padding-right: 15px;
    }

    #conteudo {
        border-radius: 0px;
        margin-top: 0px;
        min-height: 100px;
    }

    .rodape {
        display: none;
    }

    .colConcluidaItem {
        display: none;
    }

    .colConcluidaHeader {
        display: none;
    }

    .colPrioridadeItem {
        display: none;
    }

    .colPrioridadeHeader {
        display: none;
    }
}

@media (max-height:550px) {
    .rodape {
        display: none;
    }
}

.mensagemErro {
    font-size: 110%;
    font-weight: bold;
    display: block;
    Color: red;
}

.mensagemOK {
    font-size: 110%;
    font-weight: bold;
    display: block;
    Color: #dde6f3;
}

    /* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
    .dl-horizontal dt {
        white-space: normal;
    }

    /* Set width on the form input elements since they're 100% wide by default */
    input,
    select,
    textarea {
        max-width: 280px;
    }
